@tailwind base;
@tailwind components;
@tailwind utilities;

/* Poppins Black */
@font-face {
  font-family: 'Poppins';
  font-weight: 900;
  src: url('/src/assets/fonts/Poppins-Black.ttf') format('truetype');
}

/* Poppins BlackItalic */
@font-face {
  font-family: 'Poppins';
  font-weight: 900;
  font-style: italic;
  src: url('/src/assets/fonts/Poppins-BlackItalic.ttf') format('truetype');
}

/* Poppins ExtraBold */
@font-face {
  font-family: 'Poppins';
  font-weight: 800;
  src: url('/src/assets/fonts/Poppins-ExtraBold.ttf') format('truetype');
}

/* Poppins ExtraBoldItalic */
@font-face {
  font-family: 'Poppins';
  font-weight: 800;
  font-style: italic;
  src: url('/src/assets/fonts/Poppins-ExtraBoldItalic.ttf') format('truetype');
}

/* Poppins Bold */
@font-face {
  font-family: 'Poppins';
  font-weight: 700;
  src: url('/src/assets/fonts/Poppins-Bold.ttf') format('truetype');
}

/* Poppins BoldItalic */
@font-face {
  font-family: 'Poppins';
  font-weight: 700;
  font-style: italic;
  src: url('/src/assets/fonts/Poppins-BoldItalic.ttf') format('truetype');
}

/* Poppins SemiBold */
@font-face {
  font-family: 'Poppins';
  font-weight: 600;
  src: url('/src/assets/fonts/Poppins-SemiBold.ttf') format('truetype');
}

/* Poppins SemiBoldItalic */
@font-face {
  font-family: 'Poppins';
  font-weight: 600;
  font-style: italic;
  src: url('/src/assets/fonts/Poppins-SemiBoldItalic.ttf') format('truetype');
}

/* Poppins Medium */
@font-face {
  font-family: 'Poppins';
  font-weight: 500;
  src: url('/src/assets/fonts/Poppins-Medium.ttf') format('truetype');
}

/* Poppins MediumItalic */
@font-face {
  font-family: 'Poppins';
  font-weight: 500;
  font-style: italic;
  src: url('/src/assets/fonts/Poppins-MediumItalic.ttf') format('truetype');
}

/* Poppins Regular */
@font-face {
  font-family: 'Poppins';
  font-weight: 400;
  src: url('/src/assets/fonts/Poppins-Regular.ttf') format('truetype');
}

/* Poppins RegularItalic */
@font-face {
  font-family: 'Poppins';
  font-weight: 400;
  font-style: italic;
  src: url('/src/assets/fonts/Poppins-Italic.ttf') format('truetype');
}

/* Poppins Light */
@font-face {
  font-family: 'Poppins';
  font-weight: 300;
  src: url('/src/assets/fonts/Poppins-Light.ttf') format('truetype');
}

/* Poppins LightItalic */
@font-face {
  font-family: 'Poppins';
  font-weight: 300;
  font-style: italic;
  src: url('/src/assets/fonts/Poppins-LightItalic.ttf') format('truetype');
}

/* Poppins ExtraLight */
@font-face {
  font-family: 'Poppins';
  font-weight: 200;
  src: url('/src/assets/fonts/Poppins-ExtraLight.ttf') format('truetype');
}

/* Poppins ExtraLightItalic */
@font-face {
  font-family: 'Poppins';
  font-weight: 200;
  font-style: italic;
  src: url('/src/assets/fonts/Poppins-ExtraLightItalic.ttf') format('truetype');
}

/* Poppins Thin */
@font-face {
  font-family: 'Poppins';
  font-weight: 100;
  src: url('/src/assets/fonts/Poppins-Thin.ttf') format('truetype');
}

/* Poppins ThinItalic */
@font-face {
  font-family: 'Poppins';
  font-weight: 100;
  font-style: italic;
  src: url('/src/assets/fonts/Poppins-ThinItalic.ttf') format('truetype');
}
